@font-face {
  font-family: Galien;
  src: url(../fonts/Galien/TTF/Galien-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Gilroy-semibold;
  src: url(../fonts/Gilroy/Gilroy-Semibold.ttf);
  font-weight: 600;
  font-style: normal;
}